@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Tera", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: crimson;
}

.detail {
    margin-left: 6%;
    margin-top: 13%;
}

.detail h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span {
    color: orange;
}

.detail p {
    color: #555;
    line-height: 22px;
}

.detail a {
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    width: 30%;
    margin: 20px 0px;
}

.contact-inputs {
    margin-top: 20px;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-inputs, textarea {
    height: 120px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

footer h2 {
    background: linear-gradient(to right, #f85032, #e73827);
    color: white;
    text-align: center;
    padding: 20px 0px;
    position: initial;
    height: 80px;
    width: 100%;
    bottom: 0px;
  }